<div *ngFor="let article of articles | async"  class="article-display">
  <div (click)="goToArticlePage(article)">
    <img src="{{article.imgURL}}">
    <h3>{{article.title}}</h3>
    <p>{{article.teaser}}</p>
    <h4>{{article.author}}</h4>
    <h4>{{article.views}}</h4>
  </div>
  <!-- <input *ngIf="currentArticle.hide === true" type="checkbox" checked (click)="toggleDone(currentArticle, false)"/>
  <input *ngIf="currentArtice.done === false" type="checkbox" (click)="toggleDone(currentArticle, true)"/> -->
  <div *ngIf="currentRoute === '/admin'">
    {{article.body}}
    <hr>
    <app-edit-article [selectedArticle]="article"></app-edit-article>
</div>
