<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Article to Bustle</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Article Title:</label>
        <br>
        <input #newTitle>
      <div>
        <label>Article Teaser:</label>
        <br>
        <input #newTeaser>
      </div>
      <div>
        <label>Article Author:</label>
        <br>
        <input #newAuthor>
      </div>
      <div>
        <label>Article body:</label>
        <br>
        <textarea #newBody></textarea>
      </div>
      <div>
        <label>Please enter image url</label>
        <br>
        <input #newUrl>
      </div>
      <button (click)="submitForm(newTitle.value, newTeaser.value, newAuthor.value, newBody.value, newUrl.value); newTitle.value=''; newTeaser.value=''; newAuthor.value=''; newBody.value=''; newUrl.value=''">Add</button>
    </div>
  </div>
</div>

<div>
  <app-list-page></app-list-page>
</div>
