<h4>Edit Article</h4>
<label>New Article Title:</label>
<input [(ngModel)]="selectedArticle.title">
<br>
<label>New Article teaser:</label>
<input [(ngModel)]="selectedArticle.teaser">
<br>
<label>New Article Author:</label>
<input [(ngModel)]="selectedArticle.author">
<br>
<label>New Article Body:</label>
<input [(ngModel)]="selectedArticle.body">
<br>
<!-- <label>New Article image url:</label>
<input [(ngModel)]="selectedArticle.imgUrl"> -->
<button (click)="beginUpdatingArticle(selectedArticle)">Update</button>
